* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    font-family: El Messiri;
    direction: rtl;
}

.maincontainer {
    width: 100%;
    display: flex;
}


/* this style for the aside section  */

.maincontainer aside {
    width: 20%;
    height: 100vh;
    background-color: #F7F7F7;
    position: static;
}

.maincontainer aside .exit {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.maincontainer aside .exit:hover {
    background-color: gray;
}

.maincontainer aside .exit img {
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.maincontainer aside .pages {
    width: 100%;
}

.maincontainer aside .pages a {
    text-decoration: none;
    display: block;
    width: 85%;
    margin: auto;
}

.maincontainer aside a .image {
    width: 100%;
    height: 100px;
}

.maincontainer aside a .image img {
    width: 100%;
    height: 100%;
}

.maincontainer aside .pages .links {
    margin-top: 30px;
    width: 100%;
}

.maincontainer aside .pages .links ul {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.maincontainer aside .pages .links ul li {
    width: 100% !important;
    padding: 10px 5px;
    list-style-type: none;
    margin-bottom: 25px;
}

.maincontainer aside .pages .links ul li a {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.maincontainer aside .pages .links ul li.bg:hover {
    background-color: #7355b9;
}

.maincontainer aside .pages .links ul li.bg:hover p {
    color: #fff;
}

.maincontainer aside .pages .links ul li.bg:hover img {
    filter: invert(100%) brightness(1000%) contrast(100%);
}

.maincontainer aside .pages .links ul li.bg.active {
    background-color: #63518C;
}

.maincontainer aside .pages .links ul li.bg.active .link img {
    filter: invert(100%) brightness(1000%) contrast(100%);
    width: 40px;
    height: 40px;
}

.maincontainer aside .pages .links ul li.bg.active a {
    justify-content: space-around;
}

.maincontainer aside .pages .links ul li.bg.active p {
    color: #fff;
    font-size: 25px;
}

.maincontainer aside .pages .links ul li a .link {
    margin-left: 25px;
}

.maincontainer aside .pages .links ul li a p {
    font-size: 20px;
    font-weight: 700;
    line-height: 37.94px;
    text-align: right;
    color: #63518C;
}

.maincontainer aside .pages .links ul li.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0px;
}

.maincontainer aside .pages .links ul li.profile .link {
    width: 60px;
    height: 60px;
}

.maincontainer aside .pages .links ul li.profile .link img {
    width: 100%;
    height: 100%;
}

.maincontainer aside .pages .links ul li.profile {
    width: 80% !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 37.94px;
    text-align: right;
    color: #63518C;
}

.maincontainer aside .pages .links ul li a .link {
    width: 40px;
    height: 40px;
}

.maincontainer aside .pages .links ul li a .link img {
    width: 100%;
    height: 100%;
}


/* end of the aside section */


/* this section for the main content pages */

.maincontainer .content {
    width: 80%;
    height: 100vh;
    overflow: scroll;
}

.maincontainer .content .container1 {
    width: 90%;
    height: 30px;
    margin: auto;
}

.maincontainer .content .container1 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    margin-bottom: 40px;
}

.maincontainer .content .container1 .header p {
    font-size: 30px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: right;
    color: #0D002C;
}

.maincontainer .content .container1 .header .input {
    width: 35%;
    display: flex;
    position: relative;
    direction: ltr;
}

.maincontainer .content .container1 .header .input input[type=text] {
    width: 100%;
    height: 64px;
    padding: 15px 47px 15px 24px;
    border-radius: 16px;
    border: none;
    outline: none;
    background-color: #F7F7F7;
    text-align: right;
    font-size: 20px;
    color: #0D002C;
}

.maincontainer .content .container1 .header .input input[type=text]::placeholder {
    font-size: 18px;
}

.maincontainer .content .container1 .header .input img {
    position: relative;
    right: 37px;
    bottom: -1px;
}

.maincontainer .content .container1 .header .notification {
    width: 40px;
    height: 40px;
}

.maincontainer .content .container1 .header .notification img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.maincontainer .content .container1 .maincourses .category {
    display: flex;
}

.maincontainer .content .container1 .maincourses .category .btn {
    padding: 5px 20px;
    background-color: #636363;
    font-size: 20px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.maincontainer .content .container1 .maincourses .category .btn.active {
    margin: 0px 10px;
    background-color: #63518C;
    font-size: 25px;
}


/* this is the end for the main section */

.maincontainer .content .container1 .maincourses .courses {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 10px;
}

.maincontainer .content .container1 .maincourses .courses .course {
    width: 32%;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.maincontainer .content .container1 .maincourses .courses .course .image {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 30px;
}

.maincontainer .content .container1 .maincourses .courses .course .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .courses .course .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .courses .course .head p {
    font-size: 20px;
    font-weight: 700;
    line-height: 37.94px;
    text-align: right;
    color: #000000;
}

.maincontainer .content .container1 .maincourses .courses .course .head .rate {
    display: flex;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .courses .course .head .rate img {
    width: 20px;
    height: 20px;
}

.maincontainer .content .container1 .maincourses .courses .course .head .rate span {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: #000000;
    height: fit-content;
    margin-left: 10px;
}

.maincontainer .content .container1 .maincourses .courses .course p.description {
    font-size: 20px;
    font-weight: 500;
    line-height: 30.35px;
    text-align: right;
    padding: 20px 0px;
    color: #0D002C;
    opacity: 50%;
    cursor: pointer;
}

.maincontainer .content .container1 .maincourses .courses .course .actions {
    display: flex;
    justify-content: space-between;
}

.maincontainer .content .container1 .maincourses .courses .course .actions .subscribe {
    width: 45%;
    height: 38px;
    padding: 4px 24px;
    border-radius: 10px;
    background-color: #63518C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30.35px;
    text-align: right;
    color: #fff;
    cursor: pointer;
}

.maincontainer .content .container1 .maincourses .courses .course .actions .like {
    width: 45%;
    height: 38px;
    padding: 4px 24px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #63518C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30.35px;
    text-align: right;
    color: #63518C;
    cursor: pointer;
}


/* this is the courses section  */


/* هذا الستيل خاص بصفحة أختيار الباقة */

.maincontainer .content .container1 .maincourses .courses .box {
    width: 45%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #63518C;
    padding-top: 25px;
    border-radius: 10px;
}

.maincontainer .content .container1 .maincourses .courses .box p.top {
    font-size: 24px;
    font-weight: 700;
    line-height: 37.51px;
    text-align: center;
    color: #7355b9;
    margin-bottom: 30px;
}

.maincontainer .content .container1 .maincourses .courses .box .list ul {
    width: 100%;
    padding-right: 30px;
    margin: 30px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.01px;
    text-align: right;
    opacity: 80%;
    color: #7355b9;
}

.maincontainer .content .container1 .maincourses .courses .box .list ul li {
    margin: 30px 0px;
}

.maincontainer .content .container1 .maincourses .courses .box a {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .courses .box a .btn {
    width: 99%;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    background-color: #7355b9;
    border: none;
    outline: none;
    cursor: pointer;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.01px;
    text-align: center;
    margin-bottom: 1px;
    color: #fff;
}

.maincontainer .content .container1 .maincourses .sub {
    margin-top: 40px;
}

.maincontainer .content .container1 .maincourses .subscripeorder {
    width: 35%;
    height: 54px;
    border-radius: 6px;
    font-family: El Messiri;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    background-color: #7355b9;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}


/* هذة نهاية صفحة إختيار الكورسات */


/* هذة صفحة تأكيد الدفع */

.maincontainer .content .container1 .maincourses .courses .details .return {
    display: flex;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .courses .details .return .image {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.maincontainer .content .container1 .maincourses .courses .details .return .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .courses .details .return {
    font-size: 24px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: right;
    color: #0D002C;
}

.maincontainer .content .container1 .maincourses .return p.para {
    font-size: 30px;
    font-weight: 900;
    line-height: 45.53px;
    text-align: right;
    color: #0D002C;
}

.maincontainer .content .container1 .maincourses .courses .details p.text {
    font-size: 24px;
    font-weight: 700;
    line-height: 37.51px;
    text-align: right;
    color: #63518C;
    margin: 30px 0px;
}

.maincontainer .content .container1 .maincourses .courses .details .list {
    width: 70%;
    margin: auto;
}

.maincontainer .content .container1 .maincourses .courses .details .list ul li {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.01px;
    text-align: right;
    color: #63518C;
    margin: 20px;
}

.maincontainer .content .container1 .maincourses .courses .details a {
    width: 100%;
    text-decoration: none;
    display: block;
}

.maincontainer .content .container1 .maincourses .courses .details a .sub {
    width: 100%;
    margin-top: 40p;
}

.maincontainer .content .container1 .maincourses .courses .details a .sub .subscripeorder {
    width: 100%;
}


/* this for wallet page style */

.maincontainer .content .container1 .maincourses .courses .walletdetails a {
    width: fit-content;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails {
    width: 100%;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .wallet {
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .wallet .mainwallet {
    width: 55%;
    margin: auto;
    padding: 30px;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .wallet .mainwallet .image {
    width: 50%;
    height: 250px;
    margin: auto;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .wallet .mainwallet .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .wallet .mainwallet .para {
    margin-top: 40px;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .wallet .mainwallet .para .coast {
    font-family: El Messiri;
    font-size: 30px;
    font-weight: 700;
    line-height: 46.89px;
    text-align: center;
    color: #0D002C;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .wallet .mainwallet .para .price {
    font-size: 48px;
    font-weight: 700;
    line-height: 75.02px;
    text-align: center;
    color: #63518C;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .wallet .mainwallet .para .ship {
    width: 257px;
    height: 82px;
    background-color: #63518C;
    font-family: El Messiri;
    font-size: 32px;
    font-weight: 700;
    line-height: 50.02px;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .wallet .mainwallet .pay {
    font-family: El Messiri;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.01px;
    text-align: right;
    margin-top: 20px;
    color: #E21818;
}


/* end for wallet page style */


/* this is the ways of payment ways */

.maincontainer .content .container1 .maincourses .courses .walletdetails .ways {
    margin-top: 50px;
    padding-right: 40px;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .ways p.ship {
    font-size: 20px;
    font-weight: 700;
    line-height: 31.26px;
    text-align: right;
    color: #0D002C;
    margin-bottom: 40px;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .ways .way {
    padding-top: 10px;
    width: 400px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    cursor: pointer;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .ways .way p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: right;
    color: #0D002C;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .ways .way .image {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .ways .way .image img {
    width: 100%;
    height: 100%;
}


/* this is the end of the payment ways page  */


/* this is the success payment page */

.maincontainer .content .container1 .maincourses .courses .walletdetails .success {
    width: 100%;
    margin-top: 50px;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .success .congrate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .success .congrate h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 62.52px;
    text-align: center;
    color: #63518C;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .success .congrate p {
    font-size: 32px;
    font-weight: 500;
    line-height: 50.02px;
    text-align: center;
    color: #292929;
    margin: 30px 0px;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .success .congrate .image {
    width: 50%;
    height: 400px;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .success .congrate .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .courses .walletdetails .success .congrate a {
    margin-top: 10px;
    width: 40%;
    height: 54px;
    border-radius: 6px;
    background-color: #63518C;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: El Messiri;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    color: #FFFFFF;
}


/* end of hte succes payement page */


/* this is the category page in user courses */

.maincontainer .content .container1 .maincourses .courses .category {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.maincontainer .content .container1 .maincourses .courses .category .box {
    width: 30%;
    background-color: #F7F7F7;
    border: none;
    padding: 40px 20px;
    cursor: pointer;
}

.maincontainer .content .container1 .maincourses .courses .category .box .numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: Noto Kufi Arabic;
    font-size: 30px;
    font-weight: 900;
    line-height: 37.94px;
    text-align: right;
    color: #0D002C;
}


/* this is the end of category page in  user courses */


/* this is the group page */

.maincontainer .content .container1 .maincourses .return .image {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.maincontainer .content .container1 .maincourses .return .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .return {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
    line-height: 37.94px;
    text-align: right;
    color: #0D002C;
}

.maincontainer .content .container1 .maincourses .courses .category .groups {
    width: 26%;
    height: 250px;
    margin-bottom: 20px;
}


/* end for the group page */


/* 
نهاية صفحة تأكيد الدفع */


/* this is the courses section at student profile */


/* this page for the showing details for the course page */

.maincontainer .content .container1 .maincourses .return {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .return.mycourses .right {
    display: flex;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .return.mycourses .right .image {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}

.maincontainer .content .container1 .maincourses .return.mycourses .right .image img {
    width: 100%;
    height: 100%
}

.maincontainer .content .container1 .maincourses .return.mycourses .right .coursetext {
    font-size: 25px;
    font-weight: 500;
    line-height: 37.94px;
    text-align: right;
    color: #0D002C;
}

.maincontainer .content .container1 .maincourses .return.mycourses .left p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26.56px;
    text-align: right;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: #DB1A1A;
}

.maincontainer .content .container1 .maincourses .courses .course .head p {
    font-size: 30px;
    font-weight: 700;
    line-height: 37.94px;
    text-align: right;
    color: #000000;
}

.maincontainer .content .container1 .maincourses .courses .course a {
    display: block;
    width: 98%;
    height: 38px;
    padding: 4px 24px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #63518C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30.35px;
    text-align: right;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails {
    align-items: start;
    justify-content: space-between;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details {
    width: 63%;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 37.94px;
    text-align: right;
    color: #000000;
    margin: 30px 0px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .name .image {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .name .image img {
    width: 30px;
    height: 30px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details p.description {
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    text-align: right;
    color: #676767;
    margin-bottom: 30px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .rate .general {
    display: flex;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .rate .general .textrate {
    font-size: 30px;
    font-weight: 500;
    line-height: 34.15px;
    text-align: right;
    color: #131313;
    margin-left: 30px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .rate .general .star {
    display: flex;
    align-items: center;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .rate .general .star .num {
    font-family: Noto Kufi Arabic;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.35px;
    text-align: right;
    color: #717171;
    margin-left: 10px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .rate .general .star img {
    width: 30px;
    height: 30px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .rate .watch {
    display: flex;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .rate .watch p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26.56px;
    text-align: right;
    color: #717171;
    margin-left: 10px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .aboutcourse {
    font-size: 30px;
    font-weight: 700;
    line-height: 37.94px;
    text-align: right;
    color: #000000;
    margin: 50px 0px;
}

.maincontainer .content .container1 .maincourses .courses p.description {
    margin-bottom: 30px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .comments {
    width: 90%;
    margin: auto;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .comments .comment {
    display: flex;
    align-items: start;
    height: 100px;
    margin-bottom: 30px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .comments .comment .image {
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .comments .comment .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .comments .comment .mainusercomment {
    width: 75%;
    height: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #D4D4D4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 4px 0px;
}

.maincontainer .content .container1 .maincourses .courses.coursedetails .details .comments .comment .mainusercomment .username {
    font-size: 25px;
    font-weight: 700;
    line-height: 30.35px;
    text-align: right;
    color: #000000;
    margin-bottom: 10px;
}


/* end of show details for the course page */


/* 
this section for the the lesson page */

.maincontainer .content .container1 .maincourses .return.mylessons .right {
    display: flex;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .return.mylessons .right .image {
    width: 40px;
    height: 40px;
}


/* end for the lesson page */

.maincontainer .content .container1 .maincourses .quiz-lesson {
    display: flex;
    justify-content: start;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 60px;
}

.maincontainer .content .container1 .maincourses .quiz-lesson .lesson {
    width: 300px;
    height: 300px;
    padding: 41px 48.79px 50.63px 48px;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 16px;
    cursor: pointer;
}

.maincontainer .content .container1 .maincourses .quiz-lesson .lesson .image {
    width: 100%;
    height: 80%;
}

.maincontainer .content .container1 .maincourses .quiz-lesson .lesson .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .quiz-lesson .lesson p {
    font-size: 24px;
    font-weight: 500;
    line-height: 45.53px;
    text-align: right;
    color: #0D002C;
    text-align: center;
}


/* end of the the student courses */


/* this section for the quiz page */

.maincontainer .content .container1 .maincourses.quizes {
    display: block;
}

.maincontainer .content .container1 .maincourses .main-quiz {
    width: 100%;
    height: 100px;
    margin-top: 40px;
}

.maincontainer .content .container1 .maincourses .main-quiz h4 {
    font-size: 24px;
    font-weight: 900;
    line-height: 45.53px;
    text-align: left;
    color: #7A1812;
}

.maincontainer .content .container1 .maincourses .main-quiz .question {
    margin-bottom: 30px;
}

.maincontainer .content .container1 .maincourses .main-quiz p {
    font-size: 30px;
    font-weight: 900;
    line-height: 45.53px;
    text-align: right;
    color: #63518C;
}

.maincontainer .content .container1 .maincourses .main-quiz .question {
    margin-top: 20px;
}

.maincontainer .content .container1 .maincourses .main-quiz .question .questionheader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.maincontainer .content .container1 .maincourses .main-quiz .question .questionheader .thequestion {
    width: 80%;
    font-size: 30px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: right;
    color: #4B4843;
}

.maincontainer .content .container1 .maincourses .main-quiz .question .questionheader .degree {
    font-size: 24px;
    font-weight: 900;
    line-height: 45.53px;
    text-align: right;
    color: #4B4843;
}

.maincontainer .content .container1 .maincourses .main-quiz .question .selected {
    margin-right: 25px;
}

.maincontainer .content .container1 .maincourses .main-quiz .question .selected .selection {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    cursor: pointer;
    width: fit-content;
}

.maincontainer .content .container1 .maincourses .main-quiz .question .selected .selection label {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.maincontainer .content .container1 .maincourses .main-quiz .question .selected .selection img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .main-quiz .question .selected .selection p {
    font-size: 24px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: right;
    color: #4B4843;
    margin-right: 15px;
}

.maincontainer .content .container1 .maincourses .main-quiz .line {
    display: flex;
    align-items: end;
}

.maincontainer .content .container1 .maincourses .main-quiz .line p {
    margin-left: 15px;
}

.maincontainer .content .container1 .maincourses .main-quiz .line div {
    height: fit-content;
    width: 80%;
    border: 1px solid;
}


/* end for quiz page */


/* this section for the result page */

.maincontainer .content .container1 .maincourses .main-result {
    margin: 100px 0px;
}

.maincontainer .content .container1 .maincourses .main-result .result p.result {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: right;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: #63518C;
}

.maincontainer .content .container1 .maincourses .main-result .result p.correct {
    font-size: 24px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: right;
    color: #0F8247;
    margin: 20px 0px;
}

.maincontainer .content .container1 .maincourses .main-result .result p.false {
    font-size: 24px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: right;
    color: #CF0C08;
}

.maincontainer .content .container1 .maincourses .main-result .result p.total {
    font-size: 24px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: right;
    color: #4B4843;
}

.maincontainer .content .container1 .maincourses .main-result a {
    display: block;
    width: fit-content;
    font-size: 24px;
    font-weight: 700;
    line-height: 45.53px;
    text-align: right;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: #63518C;
    margin-top: 100px;
}


/* end of the result page */


/* this section for the playing video section */

.maincontainer .content .container1 .maincourses .mainvideo {
    margin-top: 60px;
    position: relative;
}

.maincontainer .content .container1 .maincourses .mainvideo .videosource {
    width: 100%;
    height: 40vh;
}

.maincontainer .content .container1 .maincourses .mainvideo .videosource video {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay:hover {
    background: rgba(0, 0, 0, .8);
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .stop {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .stop .image {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .stop .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .bottom-section {
    height: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .bottom-section .right {
    width: 35%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .bottom-section .left {
    width: 25%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .bottom-section .image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .bottom-section .image:hover {
    width: 50px;
    height: 50px;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .bottom-section .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .mainvideo .overlay .bottom-section p {
    color: #fff;
}

.maincontainer .content .container1 .maincourses .videodetails {
    margin-top: 40px;
}

.maincontainer .content .container1 .maincourses .videodetails .detail {
    display: flex;
    justify-content: space-between;
}

.maincontainer .content .container1 .maincourses .videodetails .detail .right .name {
    font-size: 20px;
    font-weight: 700;
    line-height: 37.94px;
    text-align: right;
    color: #000000;
}

.maincontainer .content .container1 .maincourses .videodetails .detail .right .watching {
    font-size: 14px;
    font-weight: 500;
    line-height: 26.56px;
    text-align: right;
    color: #717171;
}

.maincontainer .content .container1 .maincourses .videodetails .detail .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 26.56px;
    text-align: right;
    color: #717171;
    width: 13%;
}

.maincontainer .content .container1 .maincourses .videodetails .detail .left .rate {
    display: flex;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .videodetails .detail .left .rate img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.maincontainer .content .container1 .maincourses .videodetails .description {
    width: 70%;
    margin: 30px 0px;
}

.maincontainer .content .container1 .maincourses .videodetails .description p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30.35px;
    text-align: right;
    color: #676767;
}

.maincontainer .content .container1 .maincourses .videodetails ul {
    margin-bottom: 25px;
    padding-right: 20px;
}

.maincontainer .content .container1 .maincourses .videodetails ul li {
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    text-align: right;
    text-decoration-line: underline;
    text-decoration-style: solid;
    color: #000000;
}

.maincontainer .content .container1 .maincourses .videodetails p.comment {
    font-size: 20px;
    font-weight: 700;
    line-height: 37.94px;
    text-align: right;
    color: #000000;
}

.maincontainer .content .container1 .maincourses .videodetails .makecomment {
    padding-right: 50px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
}

.maincontainer .content .container1 .maincourses .videodetails .makecomment .image {
    width: 80px;
    height: 80px;
    margin-left: 25px;
}

.maincontainer .content .container1 .maincourses .videodetails .makecomment .image img {
    width: 100%;
    height: 100%;
}

.maincontainer .content .container1 .maincourses .videodetails .makecomment .form-group {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-bottom: 1px solid #D4D4D4;
    height: fit-content;
}

.maincontainer .content .container1 .maincourses .videodetails .makecomment .form-group label {
    font-size: 20px;
    font-weight: 900;
    line-height: 30.35px;
    text-align: right;
    color: #000000;
}

.maincontainer .content .container1 .maincourses .videodetails .makecomment .form-group input[type=text] {
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30.35px;
    text-align: right;
    color: #000000;
    padding: 15px 0px;
}

.maincontainer .content .container1 .maincourses .videodetails .makecomment .form-group input::placeholder {
    font-size: 20px;
    font-weight: 600;
    line-height: 26.56px;
    text-align: right;
    color: #5D5D5D;
}


/* end of the playing video page */

@media (max-width:1300px) {
    .maincontainer .content .container1 .maincourses .courses {
        justify-content: space-between;
        gap: 0px;
    }
    .maincontainer .content .container1 .maincourses .courses .course {
        width: 48%;
    }
}