    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    /* custom classes */
    
    .active {
        padding-bottom: 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: left;
        border-bottom: 1.5px solid #F7D671;
    }
    
    #display-none {
        display: none;
    }
    /* end of the custom classes */
    /* start of the responsive nav bar */
    
    body,
    html {
        font-family: El Messiri;
        direction: rtl;
    }
    
    .container {
        width: 100%;
        margin: auto;
    }
    
    .container .header {
        width: 90%;
        height: 90px;
        margin: auto;
    }
    /* this is the default nav bar */
    
    .container .header .nav-bar {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .container .header .nav-bar ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .container .header .nav-bar ul li .logo {
        width: 25%;
    }
    
    .container .header .nav-bar ul li.logo:hover {
        width: 15%;
    }
    
    .container .header .nav-bar ul li {
        list-style-type: none;
    }
    
    .container .header .nav-bar ul li a.login {
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: right;
        color: #63518C;
    }
    
    .container .header .nav-bar ul li a.login:hover {
        background-color: #63518C;
        padding: 10px 15px;
        border-radius: 15px;
        color: #fff;
    }
    
    .container .header .nav-bar ul li a#active {
        padding-bottom: 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: left;
        border-bottom: 1.5px solid #F7D671;
    }
    
    .container .header .nav-bar ul li a.list:hover {
        padding-bottom: 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: left;
        border-bottom: 1.5px solid #F7D671;
    }
    
    .container .header .nav-bar ul li a.register:hover {
        color: black;
    }
    
    .container .header .nav-bar ul li a.register {
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: right;
        color: #fff;
        background-color: #F7D671;
        padding: 10px 25px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container .header .nav-bar ul li a {
        text-decoration: none;
        display: block;
        font-size: 20px;
        font-weight: 300;
        line-height: 37.94px;
        text-align: right;
        color: #63518C;
    }
    
    .container .header .nav-bar ul li a .image {
        width: 100%;
        height: 50px;
    }
    
    .container .header .nav-bar ul li a .image img {
        width: 100%;
        height: 100%;
    }
    
    .container .header .nav-bar ul li a .whyus {
        display: flex;
        align-items: center;
    }
    
    .container .header .nav-bar ul li a .whyus .image {
        width: 30px;
        height: 30px;
    }
    
    .container .header .nav-bar ul li a .whyus .image img {
        width: 100%;
        height: 100%;
    }
    /* end of the widder navbar */
    /* start of the responsive nav  bar */
    /* burger menu */
    
    .container .header .nav-bar ul.menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    
    .container .header .nav-bar ul.menu li {
        width: fit-content;
    }
    
    .container .header .nav-bar ul.menu li a {
        width: fit-content;
    }
    
    .container .header .nav-bar ul.menu li a .image {
        width: 100%;
    }
    
    .container .header .nav-bar ul.menu li .burger-icon {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    
    .container .header .nav-bar ul.menu li .burger-icon img {
        width: 100%;
        height: 100%;
    }
    /* this is the responsive menu bar */
    
    .container {
        position: relative;
    }
    
    .container .responsive-nav-bar {
        width: 300px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: white;
        overflow: hidden;
        transition: right 1s ease;
        /* Animation for 2 minutes */
        z-index: 1000;
        padding: 20px;
        position: fixed;
        right: -310px;
        border-radius: 10px;
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
    }
    
    .container .responsive-nav-bar li {
        list-style-type: none;
    }
    
    .container .responsive-nav-bar li a {
        text-decoration: none;
        color: #63518C;
        font-size: 19px;
        font-weight: 300;
        line-height: 9.88px;
        text-align: right;
    }
    
    .container .responsive-nav-bar li a.active {
        padding-bottom: 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: left;
        border-bottom: 1.5px solid #F7D671;
    }
    
    .container .responsive-nav-bar li .list:hover {
        padding-bottom: 8px;
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: left;
        border-bottom: 1.5px solid #F7D671;
    }
    
    .container .responsive-nav-bar li a.login {
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: right;
        color: #63518C;
    }
    
    .container .responsive-nav-bar li a.login:hover {
        background-color: #63518C;
        padding: 10px 15px;
        border-radius: 15px;
        color: #fff;
    }
    
    .container .responsive-nav-bar li a.register {
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: right;
        color: #fff;
        background-color: #F7D671;
        padding: 10px 25px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container .responsive-nav-bar li a.register:hover {
        color: black;
    }
    
    .container .responsive-nav-bar li a .whyus {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container .responsive-nav-bar li a .whyus .image {
        width: 50px;
        height: 50px;
    }
    
    .container .responsive-nav-bar li a .whyus .image img {
        width: 100%;
        height: 100%;
    }
    /* this section for the body content */
    
    .container .welcome {
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        background-image: url("../images/background.svg");
        padding-bottom: 30px;
    }
    
    .container .welcome .image {
        width: 45%;
        position: relative;
    }
    
    .container .welcome .image h1 {
        color: #63518C;
        position: relative;
        right: 37px;
        font-size: 40px;
    }
    
    .container .welcome .image .centeredImage {
        width: 100%;
        position: relative;
        bottom: 15px;
    }
    
    .container .welcome .image .centeredImage img {
        width: 100%;
    }
    
    .container .welcome .text {
        width: 45%;
    }
    
    .container .welcome .text h3 {
        font-size: 48px;
        font-weight: 500;
        line-height: 52.8px;
        text-align: right;
        color: #63518C;
    }
    
    .container .welcome .text h4 {
        font-size: 32px;
        font-weight: 700;
        line-height: 60.7px;
        text-align: right;
        color: #F7D671;
        margin: 20px;
    }
    
    .container .welcome .text .para {
        font-size: 16px;
        font-weight: 600;
        line-height: 30.35px;
        text-align: right;
        color: #001927;
    }
    
    .container .welcome .text a {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 220px;
        height: 78px;
        padding: 20px 40px 20px 40px;
        border-radius: 48px 0px 48px 0px;
        background-color: #63518C;
        margin-top: 30px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: left;
        color: #FFFFFF;
    }
    
    .container .welcome .text a .image {
        width: 40px;
        height: 40px;
        padding: 0px;
    }
    
    .container .welcome .text a .image img {
        width: 100%;
        height: 100%;
    }
    
    .container .why-choose-us {
        width: 100%;
        height: 600px;
        background-color: #F5F1FD;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container .why-choose-us .why {
        width: 50%;
    }
    
    .container .why-choose-us .why h2 {
        font-size: 70px;
        font-weight: 500;
        line-height: 103.33px;
        text-align: center;
        color: #63518C;
        height: fit-content;
    }
    
    .container .why-choose-us .why p {
        font-size: 25px;
        font-weight: 700;
        line-height: 39.88px;
        text-align: center;
        color: #001927;
        margin-top: 20px;
    }
    
    .container .about-us {
        width: 100%;
        height: 300px;
        background-color: #3C3155;
        position: relative;
    }
    
    .container .about-us .about {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        position: relative;
        bottom: 107px;
    }
    
    .container .about-us .box {
        width: 260px;
        height: 214px;
        padding: 32px 24px 32px 24px;
        border-radius: 48px;
        background-color: #63518C;
    }
    
    .container .about-us .box .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .container .about-us .box .top .image {
        width: 74.04px;
        height: 74px;
    }
    
    .container .about-us .box .top .image img {
        width: 100%;
        height: 100%;
    }
    
    .container .about-us .box .top h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 26.4px;
        text-align: center;
        color: #fff;
        box-shadow: 0px 4px 10px 0px #63518C1F;
    }
    
    .container .about-us .box .para {
        font-size: 16px;
        font-weight: 500;
        line-height: 30.35px;
        text-align: right;
        color: #fff;
    }
    /* our program section */
    
    .container .ourprogram {
        width: 100%;
        background-image: url("../images/rounded.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container .ourprogram .program {
        width: 100%;
        margin-bottom: 130px;
    }
    
    .container .ourprogram .program .program-small {
        width: 60%;
        margin: auto;
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container .ourprogram .program .program-small h3 {
        font-size: 64px;
        font-weight: 500;
        line-height: 70.4px;
        text-align: center;
        color: #63518C;
    }
    
    .container .ourprogram .program .program-small p {
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: center;
        color: #fff;
        margin: 30px 0px;
    }
    
    .container .ourprogram .program .program-small .discover {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 248px;
        height: 92px;
        padding: 24px 48px 24px 48px;
        border-radius: 48px 0px 48px 0px;
        background-color: #63518C;
        cursor: pointer;
    }
    
    .container .ourprogram .program .program-small .discover .image {
        width: 40px;
        height: 40px;
    }
    
    .container .ourprogram .program .program-small .discover .image img {
        width: 100%;
        height: 100%;
    }
    
    .container .border-top {
        width: 100%;
        border-bottom: 1px solid #FFFFFF;
        border-radius: 0 0 50% 50%;
        height: 64px;
    }
    
    .container .gallary {
        width: 100%;
        height: fit-content;
        padding: 40px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
    }
    
    .container .gallary .image.center {
        width: 60%;
    }
    
    .container .gallary .image {
        width: 33%;
        height: 280px;
        border-radius: 10px;
        margin: 0px 10px;
        cursor: pointer;
    }
    
    .container .gallary .image:hover {
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    
    .container .gallary .image img {
        width: 100%;
        height: 280px;
        border-radius: 10px;
    }
    
    .container .border-bottom {
        width: 100%;
        border-top: 1px solid #FFFFFF;
        border-radius: 50% 50% 0 0;
        height: 74px;
    }
    
    .container .bottom-box {
        height: 150px;
    }
    /* this is the why us page */
    
    .top-text {
        width: 100%;
        background-image: url("../images/whyus/backgound.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 60vh;
        display: flex;
        align-items: center;
    }
    
    .top-text .para {
        width: 40%;
        margin: auto;
        position: relative;
        top: -90px;
    }
    
    .top-text .para p.why {
        font-size: 64px;
        font-weight: 500;
        line-height: 70.4px;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }
    
    .top-text .para p.description {
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: center;
        color: #fff;
        color: white;
    }
    
    .trainers {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 60px;
    }
    
    .trainers .text {
        width: 40%;
    }
    
    .trainers .text .first-option {
        font-family: Tufuli Arabic DEMO;
        font-size: 128px;
        font-weight: 500;
        line-height: 140.8px;
        text-align: right;
        box-shadow: 0px 4px 10px 0px #63518C1F;
        color: rgba(168, 116, 116, 0.3);
    }
    
    .trainers .text .best {
        margin: 25px 0px;
        font-size: 64px;
        font-weight: 900;
        line-height: 70.4px;
        text-align: right;
        color: #63518C;
    }
    
    .trainers .text .best span {
        font-size: 64px;
        font-weight: 900;
        line-height: 70.4px;
        text-align: right;
        color: #F7D671;
    }
    
    .trainers .text .description {
        font-size: 24px;
        font-weight: 600;
        line-height: 45.53px;
        text-align: right;
        color: #001927;
        margin-bottom: 25px;
    }
    
    .trainers .text a {
        width: 220px;
        height: 78px;
        padding: 20px 40px 20px 40px;
        border-radius: 48px 0px 48px 0px;
        background-color: #63518C;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .trainers .text a p {
        font-size: 20px;
        font-weight: 700;
        line-height: 37.94px;
        text-align: left;
        color: #FFFFFF;
    }
    
    .trainers .text a .image {
        width: 30px;
        height: 30px;
    }
    
    .trainers .text a .image img {
        width: 100%;
        height: 100%;
    }
    
    .trainers .image {
        width: 45%;
    }
    
    .trainers .image img {
        width: 100%;
        height: 100%;
    }
    
    .trainers.second {
        flex-direction: row-reverse;
        margin-top: 200px;
    }
    /* end of the why us page */
    /* start of the skills programs page */
    
    .ourprograms {
        width: 100%;
        margin: 50px 0px;
    }
    
    .ourprograms .ourprogram {
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .ourprograms .ourprogram .polygon {
        width: 32%;
        /* Adjust as needed */
        height: 400px;
        /* Adjust as needed */
        /* Light purple background */
        clip-path: polygon(0% 1%, 100% 0%, 80% 100%, 20% 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }
    
    .ourprograms .ourprogram .polygon .technology {
        width: 100%;
        height: 100%;
        padding: 20px 0;
        background-color: #e6e6f5;
        /* Top and bottom padding */
        box-sizing: border-box;
        /* Ensures padding does not affect dimensions */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .ourprograms .ourprogram .polygon .sentific {
        width: 100%;
        height: 100%;
        padding: 20px 0;
        background: #F7D67133;
        /* Top and bottom padding */
        box-sizing: border-box;
        /* Ensures padding does not affect dimensions */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .ourprograms .ourprogram .polygon .technology .icon {
        width: 40%;
        height: 40%;
    }
    
    .ourprograms .ourprogram .polygon .icon img {
        width: 100%;
        /* Adjust as needed */
        height: 100%;
        /* Adjust as needed */
    }
    
    .ourprograms .ourprogram .polygon p {
        font-size: 24px;
        font-weight: 900;
        line-height: 40px;
        text-align: center;
        color: #040B32;
        margin-top: 25px;
        width: 65%;
    }
    
    .subscripe {
        width: 100%;
        margin: 100px 0px;
    }
    
    .subscripe .background-section {
        width: 80%;
        margin: auto;
        background-image: url("../images/ourprogram/refresh.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 310px;
        display: flex;
        align-items: center;
    }
    
    .subscripe .background-section .text {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .subscripe .background-section .text p {
        font-size: 40px;
        font-weight: 500;
        line-height: 44px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .subscripe .background-section .text a {
        width: 220px;
        height: 78px;
        padding: 20px 40px 20px 40px;
        border-radius: 48px 0px 48px 0px;
        background-color: #F7D671;
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
    }
    /* end of the skills programs page */
    /* this section for footer */
    
    footer {
        width: 100%;
        margin-top: 100px;
    }
    
    footer .footer {
        width: 100%;
        background-image: url("../images/footer.svg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 150px;
    }
    
    footer .footer .top {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #FFFFFF;
    }
    
    footer .footer .top .social {
        width: 20%;
    }
    
    footer .footer .top .social .image {
        width: 100%;
        height: fit-content;
    }
    
    footer .footer .top .social .image img {
        width: 100%;
        height: 100%;
    }
    
    footer .footer .top .social .company-social {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
    }
    
    footer .footer .top .social .company-social .image {
        width: 100%;
        height: fit-content;
    }
    
    footer .footer .top .social .company-social .image img {
        width: 100%;
        height: 100%;
    }
    
    footer .footer .top .categories {
        width: 25%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    footer .footer .top .categories h5 {
        font-size: 24px;
        font-weight: 500;
        line-height: 26.4px;
        text-align: center;
        color: #F7D671;
    }
    
    footer .footer .top .categories a {
        display: block;
        text-decoration: none;
        font-family: Noto Kufi Arabic;
        font-size: 20px;
        font-weight: 500;
        line-height: 37.94px;
        text-align: center;
        color: #fff;
        margin: 15px 0px;
    }
    
    footer .footer .top .categories a:hover {
        color: black;
        font-size: 25px;
    }
    
    footer .footer .top .lms {
        width: 15%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    footer .footer .top .lms h5 {
        font-size: 24px;
        font-weight: 500;
        line-height: 26.4px;
        text-align: center;
        color: #F7D671;
    }
    
    footer .footer .top .lms a {
        display: block;
        text-decoration: none;
        font-family: Noto Kufi Arabic;
        font-size: 20px;
        font-weight: 500;
        line-height: 37.94px;
        text-align: center;
        color: #fff;
        margin: 15px 0px;
    }
    
    footer .footer .top .lms a:hover {
        color: black;
        font-size: 25px;
    }
    
    footer .footer .top .Bulletin {
        width: 35%;
        display: flex;
        flex-direction: column;
        text-align: center;
        direction: rtl;
    }
    
    footer .footer .top .Bulletin form h5 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32.4px;
        text-align: right;
        color: #F7D671;
    }
    
    footer .footer .top .Bulletin form {
        text-align: left;
    }
    
    footer .footer .top .Bulletin form input[type=text] {
        width: 100%;
        height: 48px;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid green;
        background-color: #fff;
        outline: none;
        margin: 15px 0px;
        display: block;
    }
    
    footer .footer .top .Bulletin form input[type=text]::placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: right;
        color: #787878;
    }
    
    footer .footer .top .Bulletin form input[type=submit] {
        width: 148px;
        height: 48px;
        padding: 16px 32px 16px 32px;
        border-radius: 8px;
        cursor: pointer;
        background-color: #F7D671;
        outline: none;
        border: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 16.56px;
        color: #63518C;
        text-align: center;
    }
    
    footer .footer .top .Bulletin .text {
        font-family: Noto Kufi Arabic;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        text-align: right;
        color: #FFFFFF;
        margin-top: 20px;
    }
    
    footer .footer .bottom {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px;
    }
    
    footer .footer .bottom .social {
        width: 20%;
        display: flex;
        justify-content: space-around;
    }
    
    footer .footer .bottom .social .image a {
        width: 30%;
    }
    
    footer .footer .bottom .social .image {
        width: 100%;
        height: fit-content;
    }
    
    footer .footer .bottom .social .image img {
        width: 100%;
        height: 100%;
    }
    
    footer .footer .bottom .para {
        font-family: Noto Kufi Arabic;
        font-size: 17px;
        font-weight: 700;
        line-height: 26.56px;
        text-align: center;
        color: #FFFFFF;
    }
    /* end of the body content */
    
    @media (max-width:1560px) {
        .container .about-us .about {
            width: 85%;
        }
    }
    
    @media (max-width:1400px) {
        .container .about-us .about {
            width: 100%;
        }
    }
    
    @media (max-width:1225px) {
        .ourprograms .ourprogram {
            width: 95%;
        }
        .subscripe .background-section {
            width: 95%;
        }
        footer .footer .top {
            width: 95%;
        }
        .container .header {
            width: 95%;
        }
        .container .header .nav-bar ul.widder-nav-bar li.logo {
            width: 12%;
        }
        .container .header .nav-bar ul.widder-nav-bar li a.register {
            font-size: 17px;
            font-weight: 500;
        }
        .container .header .nav-bar ul.widder-nav-bar li a.login {
            font-size: 16px;
            font-weight: 500;
        }
        footer .footer .top .Bulletin .text {
            text-align: center;
            line-height: 30px;
        }
        .ourprograms .ourprogram {
            width: 97%;
        }
    }
    
    @media (max-width:1114px) {
        .top-text .para {
            width: 70%;
        }
        .container .about-us .about {
            width: 70%;
            flex-wrap: wrap;
        }
        .container .about-us .about .box {
            margin-bottom: 85px;
        }
        .container .ourprogram .program {
            padding-top: 110px;
        }
        .container .welcome .text h3 {
            font-size: 38px;
        }
        .container .welcome .image h1 {
            font-size: 32px;
        }
        .container .ourprogram .program .program-small {
            width: 80%;
        }
        .container .gallary .image {
            flex-shrink: 0;
        }
        .trainers {
            flex-direction: column;
        }
        .trainers .text {
            width: 80%;
            margin-bottom: 85px;
        }
        .trainers .image {
            width: 80%;
        }
        .trainers.second {
            flex-direction: column;
        }
        .trainers.second {
            margin: 0px;
        }
    }
    
    @media (max-width:1000px) {
        .ourprograms .ourprogram {
            flex-wrap: wrap;
            justify-content: center;
        }
        .ourprograms .ourprogram .polygon {
            width: 45%;
            margin: 50px 20px;
        }
        footer .footer .top {
            flex-wrap: wrap;
            margin-top: 115px;
            justify-content: center;
        }
        footer .footer .top .social {
            width: 35%;
        }
        footer .footer .top .categories {
            width: 30%;
        }
        footer .footer .top .lms {
            width: 30%;
        }
        footer .footer .top .Bulletin {
            margin: 100px 0px;
            width: 50%;
        }
        footer .footer .bottom .social {
            width: 30%;
        }
    }
    
    @media (max-width:890px) {
        .ourprograms .ourprogram .polygon {
            width: 80%;
            margin: 20px 0px;
        }
        .container .about-us .about {
            width: 85%;
        }
        .container .welcome .text h3 {
            font-size: 30px;
        }
        .container .welcome .image h1 {
            font-size: 28px;
        }
    }
    
    @media (max-width:850px) {
        .container .header .nav-bar .menu {
            display: flex !important;
        }
        .container .header .nav-bar ul.widder-nav-bar {
            display: none;
        }
        .container .header .nav-bar {
            width: 95%;
            margin: auto;
        }
        .container .welcome {
            flex-direction: column-reverse;
        }
        .container .welcome .text {
            width: 82%;
            margin-top: 38px;
        }
        .container .welcome .text h3 {
            font-size: 44px;
        }
        .container .welcome .image h1 {
            font-size: 40px;
        }
        .container .welcome .text .para {
            font-size: 20px;
        }
        .container .welcome .text a {
            margin-bottom: 30px;
        }
        .container .welcome .image {
            width: 82%;
            position: relative;
        }
        .container .why-choose-us .why {
            width: 60%;
        }
        footer .footer .top .Bulletin {
            width: 70%;
        }
    }
    
    @media (max-width:720px) {
        footer .footer .bottom {
            width: 95%;
        }
        .top-text .para {
            width: 95%;
        }
    }
    
    @media (max-width:650px) {
        footer .footer .bottom {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        footer .footer .bottom .para {
            margin: 15px 0px;
        }
        footer .footer .bottom .social {
            width: 80%;
        }
        footer .footer .top .social {
            width: 100%;
            margin-bottom: 40px;
        }
        footer .footer .top .categories {
            width: 45%;
        }
        footer .footer .top .lms {
            width: 43%;
        }
        .container .about-us .about {
            width: 95%;
        }
        .container .why-choose-us .why {
            width: 90%;
        }
        .container .welcome .image h1 {
            position: static;
            font-size: 25px;
            font-weight: 900;
            text-align: center;
        }
        .container .gallary .image {
            width: 45%;
        }
        footer .footer .top {
            margin-top: 10px;
        }
    }
    
    @media (max-width:580px) {
        .trainers .text,
        .trainers .image {
            width: 95%;
        }
        .top-text .para p.why {
            font-size: 40px;
            font-weight: bold;
        }
        footer .footer .top .Bulletin {
            width: 100%;
        }
        .container .gallary .image {
            width: 100%;
        }
        .container .welcome .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .container .welcome .text .para {
            text-align: center;
        }
        .container .welcome .text h3 {
            font-weight: 900;
            font-size: 35px;
        }
        .container .welcome .text {
            width: 95%;
        }
        .container .welcome .image {
            width: 95%;
        }
        .container .ourprogram .program .program-small {
            width: 100%;
        }
        .container .about-us {
            height: fit-content;
            padding-top: 40px;
        }
        .container .about-us .about {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .container .about-us .about {
            position: static;
        }
        .container .ourprogram .program {
            padding: 0px;
        }
        .container .about-us .box {
            width: 360px;
        }
        .container .welcome .text h3 {
            font-size: 30px;
            font-weight: bolder;
        }
        .container .bottom-box {
            height: 30px;
        }
        .ourprograms .ourprogram .polygon {
            width: 95%;
            margin: 20px 0px;
        }
        .trainers .text .best {
            font-size: 50px;
        }
        .trainers .text,
        .trainers .text .best,
        .trainers .text .description,
        .trainers .text .first-option {
            text-align: center;
        }
        .trainers .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    @media (max-width:400px) {
        .trainers .text .best span {
            font-size: 50px;
        }
        .container .about-us .box {
            width: 95%;
        }
        .container .ourprogram .program .program-small .discover {
            justify-content: space-around;
            width: 230px;
            padding: 10px;
        }
        .container .welcome .text h4 {
            font-size: 25px;
            font-weight: 900;
        }
        .container .welcome .text h3 {
            font-size: 24px;
            font-weight: 900;
        }
        .container .header .nav-bar ul.menu li {
            width: 150px;
        }
        .container .header .nav-bar ul.menu li .burger-icon {
            width: 40px;
            height: 40px;
        }
        .container .why-choose-us .why {
            width: 100%;
        }
        footer .footer .top .categories {
            width: 100%;
        }
        footer .footer .top .lms {
            width: 100%;
            margin-top: 20px;
        }
        .subscripe .background-section .text p {
            font-size: 30px;
        }
    }
    
    @media (max-width:305px) {
        .container .welcome .text h3 {
            font-size: 20px;
            font-weight: bolder;
        }
        .container .welcome .text h4 {
            font-size: 20px;
            margin: 0px;
            margin-bottom: 20px;
        }
        .container .why-choose-us .why h2 {
            font-size: 50px;
        }
        footer .footer .bottom .social {
            width: 95%;
        }
        .subscripe .background-section .text p {
            font-size: 25px;
        }
        .top-text .para p.why {
            font-size: 30px;
        }
    }